.container{
    background-color: aqua;
    height: 200px;
    width: 200px;
    position: relative;
    

    &:hover .square{
        height:100%;
        width:100%;
    }

    .square{
        background-color: blueviolet;
        height: 0;
        position: absolute;
        bottom: 0;
        left:10px;
        width: 10%;
        overflow: hidden;
        transition: all 0.8s;
    }
}